* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: #e7ec89;
  display:block;
  block-size: auto;
  margin: 0;
}

header {
  text-align: center;
  background-color: #D37815;
  padding-top: 20px;
  justify-items: center;
  width:100%;
}

footer {
  background-color: #D37815;
  text-align: center;
  /* padding: 10px; */
  margin-bottom: 5px;
}

#head {
  color: #D37815;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 90px;
  margin-top: 20%;
}

#contents1 {
  background: #ffc url(canva.png) no-repeat;
  width: auto;
  height: 88vh;
  text-align: right;
  justify-content: center;
  align-items: center;
}

#contents4 {
  text-align: center;
}

#contents2, #contents3, #contents4, #contents5, #contents6 {
  background-color: #ffc;
  height: 100vh;
  text-align: center;
}

#intro {
  text-align: center;
  color: #290001;
  font-size: 25px;
}

#codeSpace, #coursera, #uhs{
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 25px;
  animation-name: badges;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

#badges {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}

@keyframes badges {
  0%   {transform: rotatey(0deg);
  }
  50%  {transform: rotatey(180deg);
  }
  100% {transform:rotatey(360deg); 
  }
}

a {
  text-decoration: none;
  color: #290001
}

a:hover {
color:#D37815;
}

#htmlCSS {
  justify-content: center;
  height: 350px;
  width: 350px;
}

h2 {
  font-size: 34px;
  background-color: #CAD315;
  margin: 20px;
  padding: 30px;
  color: #f2f4c0;
  border-radius: 10px 20px 30px 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#statement {
  font-size: 25px;
  color: #290001;
  font-style: italic;
}

#robots {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}

#robot1, #robot2{
  width: 100px;
  height: 130px;
  margin-top: 25px;
}

#robot1 {
  animation-name: robotWar1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes robotWar1{
  from{transform: translateX(10vw);}
  to{transform: translateX(-10vw);}
}

#robot2 {
  animation-name: robotWar2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes robotWar2{
  from{transform: translateX(-10vw);}
  to{transform: translateX(10vw);}
}

#logo1, #logo2, #logo3 {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  filter: invert(100);
}

#contact {
  font-size: 24px;
  color: #ffc;
}

p {
  margin: 20px;
  color: #290001;
}

h3 {
  margin: 10px;
  font-size: 28px;
  color: #290001;
}

main {
  display: flex;
  flex-direction: row;
  overflow: unset;
}

.nav-menu {
  background-color: #D37815;
}

h5 {
  font-style: italic;
  color: #D37815;
  margin-left: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#interests {
    position:relative;
    bottom: -7%;
    text-align: center;
}

#organisations {
  position:relative;
  top: 5%;
  text-align: center;
}

/*Media Queries*/

/*Small devices (mobile phones/portrait tablets, less than 700px*/
@media screen{
  header {
    margin: auto;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .nav-menu {
    background-color: #CAD315;
  }
  #head  {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-stretch:extra-expanded;
    color: #e7ec89;
    padding: 0;
  }

  #statement {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffc;
    font-size: 31px;
    margin: auto;
    padding: 0;
    font-stretch: extra-expanded;
  }
}

/* Medium devices (landscape tablets, 700px and up) */
@media screen and (min-width: 750px){
  main {
    display: flex;
    flex-direction: column;
    overflow: unset;
  }

    #head  {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 70px;
      color: #e7ec89;
    }

    #statement {
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #ffc;
      font-size: 40px;
    }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media screen and (min-width:1200px){
  main {
    display: flex;
    flex-direction: column;
    overflow: unset;
  }
  #head  {
    top: 0%;
    font-size: 90px;
    color: #290001;
  }

  #statement {
    top: 50%;
    text-align: right;
    color: #D37815;
    font-size: 50px;
}
}